* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.wrap{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
}
header{
    width: 100%;
    height: 10%;
}
.flex-menu{
    width: 100%;
    height: 100%;
    background-color:#333333; 
    display:flex;
    list-style: none;
    align-items: center;    
}
.flex-menu > div:nth-child(1){
    margin-left: 10px;
    width: 5%;
    height: 70%;  
    border-radius: 100%;
    background-color: white;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}
.flex-menu > div:nth-child(2){
    flex-basis: 80%;
}
.flex-menu > div:nth-child(3){
    flex-basis:10%;
}
.menu >ul, li{ 
    display:flex; 
    list-style: none;
    margin-left: 2%;
} 
 .toggle{
     color: #BFBFBF;
     display: none;
 }
a{
    color: #AEAEAE;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.download1{
    color: #FABFB8;
    width: 100%;
    background-color: #FA5C50;
    border: none;
    height: 30px;
    border-radius: 4px;
}
.flex-container-red{
    width: 100%;
    height: 40%;
    background-color: #FA5C50;
    display:flex;
    flex-direction: column;
    align-items: center;
}
 .flex-container-red > *{ 
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
}
.flex-container-red > h2{
   color: #FFFCFC;
}
.flex-container-red > p{
   color: #FABFB8;
   width: 60%;
   
}
.start{
    background-color: #FA5C50;
    padding: 7px;
    border: 1px solid #FABFB8;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    color: #FABFB8;
}
.download2 {
    padding: 7px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    background-color: #FFFCFC;
    color: #8B8B8B;

}
.container-white{
    width: 100%;
    height:40% ;
    display: flex;
    justify-content: space-around; 
}
.container-white> *{
    width: 20%;
    height: 70%;
    align-self: center;
}
img{
    width: 65px;
    height: 65width: 65px;
    height: 65px;
    border: 1px solid;
    padding: 22px;
    border-radius: 100%;
    margin-bottom: 5%;
    margin-left: 50px;
}
hr{
    width: 65px;
    border-color: #FA5C50;
    margin-left: 50px;
    margin-bottom: 5%;
}
h4{
    width: 200px;
    margin-left: 30px;
    margin-bottom: 5%;
    
}
footer{
    color: #BFBFBF;
    font-size: 12px;
    background: #333333;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
footer > ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

footer form{
    display: flex;
    justify-content: flex-end;
}
form{
    margin: 10px;
}
form>input{
    border: none;
    height: 23px;
    padding-right: 10px;
}
form>input:nth-child(2){
    font-size: 12px;
    background: #FA5C50;
    width: 90px;
    color: #FABFB8;
}
@media only screen and (max-width:710px) {
    .wrap{
        flex-wrap: wrap;
        justify-content: center;       
    }
.flex-container-red,.container-white,{
        height: 20%;
    } 
}
@media only screen and (max-width:500px){
   .toggle{
       position: relative;
       right:40px;
        display: block;
        float: right;
   }
  .menu >ul>li, footer > ul{
      display: none;
  }
   ul{
     display: flex;
     flex-direction: column;
  }
  .container-white{
      display: flex;
      flex-wrap: wrap;
  }
}






   


 
    
